$principal:white;
$secondary:black;
$font-primary:'Open Sans', sans-serif;
$text-xlg:8em;
$text-lg: 5em;
$text-md: 3.5em;
$text-md-sm: 2em;
$text-sm: 1em;


$text-sizes: (
    xlg: 3em,
    lg: 2em,
    md: 1.6em,
    md-sm: 1em,
    sm: 0.5em,   
);